# Java formatting for Stride Simulator; run `clang-format -i` on the files you change.
Language: Java
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
ContinuationIndentWidth: 4
ColumnLimit: 120
AlignAfterOpenBracket: DontAlign
AlignOperands: false
AlignConsecutiveAssignments: false
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: All
AllowShortCaseLabelsOnASingleLine: true
BreakBeforeBraces: Attach
BreakAfterJavaFieldAnnotations: false
SpacesBeforeTrailingComments: 1
ReflowComments: false
BreakStringLiterals: false
SortIncludes: CaseSensitive
JavaImportGroups: ['com.nettarion', 'java', 'javax', 'org']
